#select-plan {
    display: flex;
    flex-direction: column;
    position: relative;

    .plans-container {
        margin: 2rem 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
    
        .plan-btn {
            width: 10vw;
            height: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            background-color: transparent;
            border: 1px solid var(--light-gray);
            border-radius: 0.5rem;
            color: var(--marine-blue);
            cursor: pointer;
            transition: 0.2s;
    
            img {
                width: 2rem;
                pointer-events: none;
            }
    
            .plan-infos {
                display: flex;
                flex-direction: column;
                align-items: baseline;
                gap: 0.2rem;
                pointer-events: none;
    
                .plan-name {
                    font-weight: bold;
                }
            }
        }
    
        .plan-btn:hover {
            transform: scale(1.1);
            border: 1px solid var(--purplish-blue);
        }
    }
    
    .plan-option-box {
        width: 90%;
        display: flex;
        justify-content: center;
        gap: 1rem;
    
        .toggle {
            width: 3rem;
            height: 1.5rem;
            background-color: var(--marine-blue);
            border-radius: 1rem;
            display: flex;
            align-items: center;
            padding: 0.3rem;
    
            button {
                width: 1rem;
                height: 1rem;
                background-color: var(--white);
                border-radius: 50%;
                border: none;
                cursor: pointer;
            }
        }
    
        .change {
            flex-direction: row-reverse;
            
        }
    }
}
