.nav-container {
    position: relative;

    .nav-view {
        top: 1.5rem;
        left: 1.5rem;
        position: absolute;

        .showing-box {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: 1rem 0;

            .step-number {
                font-size: 1rem;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                border: 1px solid var(--white);
                color: var(--white);
            }

            .step-description {
                display: flex;
                flex-direction: column;
                font-size: 1rem;
                text-transform: uppercase;
                font-size: 0.8rem;
                color: var(--white);

                .step-indication {
                    color: var(--cool-gray);
                }
            }
        }


    }

    img {
        height: 100%;
    }
}

#mobile-img {
    display: none;
}

@media screen and (max-width: 375px) {

    .nav-container img {
        display: none;
    }

    #mobile-img {
        display: flex;
        position: absolute;
        top: -25vh;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .nav-container {
        position: inherit;
        display: flex;
        align-items: center;
    }

    .nav-container .nav-view {
        position: inherit;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        width: 100%;
    }

    .nav-container .nav-view .showing-box .step-description {
        display: none;
    }
  }